<div class="container" style="text-align: center; border: solid 2px gray;">
  <div class="row">
    <div class="col-md-12 header">
      <h1>
        Códigos
      </h1>
      <div ngbDropdown class="d-inline-block" style="float:right">
        <button class="btn header-button" id="dropdownBasic1" ngbDropdownToggle>
          <img style="width: 40px; border-radius: 50%;" *ngIf="imagenUrl" [src]="imagenUrl" class="img-circle" alt="Cinque Terre">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="authService.logout()" class="dropdown-item"><i class="fa fa-sign-out"></i> Salir</button>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row contenido">
    <div class="col-md-6 col-xs-12">
      <div class="row">
        <div class="col-md-12">
          <h2 class="titulo">Código</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
          <ng-select [items]="valores" bindLabel="valor" bindValue="posicion" [(ngModel)]="seleccionado">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="row">
        <div class="col-md-12">
          <h2 class="titulo">Valor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="!seleccionado"  style="margin-top: 10px;">
          <h3>
            <i class="fa fa-caret-square-o-left"></i> Seleccionar valor
          </h3>
        </div>
        <div *ngIf="seleccionado" class="col-md-10" style="margin-top: 10px;">
          <h3 class="valor" id="valor">
            {{seleccionado}}
          </h3>
        </div>
        <div *ngIf="seleccionado" class="col-md-2" style="margin-top: 10px;">
          <button class="btn btn-branch" (click)="copiar()"  placement="top" ngbTooltip="Copiar">
            <i class="fa fa-files-o"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="text-align: center; " *ngIf="!usuario">
  <div class="row">
    <div class="col-md-12">
          <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
  </div>
</div>
